<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >



<web-app>


  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ModelServlet</servlet-name>
    <servlet-class>servlet.ModelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MarkServlet</servlet-name>
    <servlet-class>servlet.MarkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TransmissionServlet</servlet-name>
    <servlet-class>servlet.TransmissionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BodyServlet</servlet-name>
    <servlet-class>servlet.BodyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdvtServlet</servlet-name>
    <servlet-class>servlet.AdvtServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>servlet.AuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogServlet</servlet-name>
    <servlet-class>servlet.LogServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrivateAdvtServlet</servlet-name>
    <servlet-class>servlet.PrivateAdvtServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoneServlet</servlet-name>
    <servlet-class>servlet.DoneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IsNotDoneServlet</servlet-name>
    <servlet-class>servlet.IsNotDoneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadPhotoServlet</servlet-name>
    <servlet-class>servlet.DownloadPhotoServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlet.UploadServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DeletePhotoServlet</servlet-name>
    <servlet-class>servlet.DeletePhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMarkServlet</servlet-name>
    <servlet-class>servlet.GetMarkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetModelsMarkServlet</servlet-name>
    <servlet-class>servlet.GetModelsMarkServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>ModelServlet</servlet-name>
    <url-pattern>/model.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkServlet</servlet-name>
    <url-pattern>/mark.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransmissionServlet</servlet-name>
    <url-pattern>/trans.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BodyServlet</servlet-name>
    <url-pattern>/body.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdvtServlet</servlet-name>
    <url-pattern>/post.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/us.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogServlet</servlet-name>
    <url-pattern>/log.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrivateAdvtServlet</servlet-name>
    <url-pattern>/own.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/del.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoneServlet</servlet-name>
    <url-pattern>/done.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IsNotDoneServlet</servlet-name>
    <url-pattern>/notdone.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadPhotoServlet</servlet-name>
    <url-pattern>/download.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/up.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePhotoServlet</servlet-name>
    <url-pattern>/deletephoto.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMarkServlet</servlet-name>
    <url-pattern>/getmark.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetModelsMarkServlet</servlet-name>
    <url-pattern>/getmodels.do</url-pattern>
  </servlet-mapping>



</web-app>
